

# ------------------------------
# 站点基础信息（Site Basic Information）
# ------------------------------
# 站点名称，显示在浏览器标签页和导航栏中
# Site name, displayed in browser tab and navigation bar
site_name: QIACHIP Docs

# 站点描述，用于SEO和社交媒体分享
# Site description, used for SEO and social media sharing
site_description: Documentation for QIACHIP Productions

# 站点作者信息，通常用于页脚显示
# Site author information, usually displayed in footer
site_author: QIACHIP Productions

# 主题配置 (Theme Configuration)
# 使用Material for MkDocs主题
# Using Material for MkDocs theme
theme:
  name: material
  
  # 图标配置
  # Icon configuration
  logo: images/qiachip-logo.png
  favicon: images/qiachip-logo.svg
    
  # 主题功能特性
  # Theme features
  features:
    - navigation.sections
    - navigation.indexes  # 启用索引式导航
    - navigation.tabs    # 启用标签式导航
    - navigation.tabs.sticky
    - navigation.top     # 启用顶部导航栏

# 引入自定义 CSS 文件，实现精细隐藏父级菜单项
extra_css:
  - assets/css/extra.css


markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - admonition
  - pymdownx.details

# ------------------------------
# 插件配置（Plugins Configuration）
# ------------------------------
# 启用MkDocs内置搜索插件和glightbox图片插件
# Enable built-in search plugin and glightbox image plugin
plugins:
 - search
 - meta  
 - glightbox

# 版权声明，显示在页面底部
# Copyright notice, displayed at page footer
copyright: Copyright &copy; 2025 QIACHIP

# 导航配置 (Navigation Configuration)
# 定义网站导航菜单结构
# Defines the website navigation menu structure
nav:
  # 一级导航菜单项：用户指南
  # First level nav item: User Guide
  - User Guide:
    - Overview: index.md
    - KR1201: KR1201/KR1201.md
    - KR1202: KR1202-V05/KR1202-V05.md
    - KR2202: KR2202/QIACHIP_KR2202.md
  - FAQ: FAQ.md
  - QIACHIP: https://qiachip.com
  - Video Library: videoLibary.md
  - Community: Community.md
 # - 版本管理: version-guide.md

# ------------------------------
# 版本管理配置（Version Management Configuration）
# ------------------------------
# 使用mike插件进行版本管理
# Using mike plugin for version management
extra:
  version:
    provider: mike
    default: latest
  # 启用版本选择器
  # Enable version selector
  versions:
    - 1.0.0
    - 2.0.0
